body {
  background: linear-gradient(#F1C40F, #800000);
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  height: 1000px;
}

.buton {
  background-color: lightgreen;
  padding: 5px 1px 5px 1px;
  border: 3px solid lightgreen;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px lightgreen, 0 0 15px lightgreen, 0 0 25px lightgreen, 0 0 100px lightgreen;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  width: 200px;
  font-weight: 600;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
  height: 50px;
}

.buton:hover:before,
button:focus:before {
  transition: 0.5 all ease;
  left: 0;
  right: 0;
  opacity: 1;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes animate {
  to {
    transform: translateX(25%);
  }
}

.buton:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  border-radius: 6px;
  opacity: 0;
  content: '';
  background-color: #000000c7;
  z-index: -1;
  content: "";
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background-size: 25% 100%;
  animation: animate .75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.buton:active {
  transform: scale(0.9);
}

.buton:hover,
.buton:focus {
  color: white;
}

button {
  border-radius: 20px 20px 20px 20px;
}

h5 {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: pulse 2s infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.12);
  }
}

.center {
  background-size: cover;
  background-clip: text;
  background: linear-gradient(90deg, #00ffff, #ff00c3);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 50px;
  margin-top: 1px;
  border-radius: 30px;
  text-align: center;
}

.link {
  padding: 5px 1px 5px 1px;
  margin-bottom: 75px;
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  width: 240px;
  margin-right: 50px;
}

.link:hover:before,
button:focus:before {
  transition: 0.5 all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.link:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  border-radius: 6px;
  opacity: 0;
  content: '';
  background-color: #000000c7;
  z-index: -1;
}

.link:active {
  transform: scale(0.9);
}


#youtube {
  border: 3px solid #ff0000;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #ff0000, 0 0 15px #ff0000, 0 0 25px #ff0000, 0 0 100px #ff0000;
}

#youtube:hover,
#youtube:focus {
  color: white;
}

#youtube::before {
  background-color: #ff0000;
}

#discord {
  border: 3px solid #0004ff;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #0004ff, 0 0 15px #0004ff, 0 0 25px #0004ff, 0 0 100px #0004ff;
}

#discord:hover,
#discord:focus {
  color: white;
}

#discord::before {
  background-color: #0004ff;
}

#twitter {
  border: 3px solid #00ccff;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #00ccff, 0 0 15px #00ccff, 0 0 25px #00ccff, 0 0 100px #00ccff;
}

#twitter:hover,
#twitter:focus {
  color: white;
}

#twitter::before {
  background-color: #00ccff;
}

#reddit {
  border: 3px solid #ff9900;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #ff9900, 0 0 15px #ff9900, 0 0 25px #ff9900, 0 0 100px #ff9900;
}

#reddit:hover,
#reddit:focus {
  color: white;
}

#reddit::before {
  background-color: #ff9900;
}

#github {
  border: 3px solid #260044;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #260044, 0 0 15px #260044, 0 0 25px #260044, 0 0 100px #260044;
}

#github:hover,
#github:focus {
  color: white;
}

#github::before {
  background-color: #260044;
}

#twitch {
  border: 3px solid #a441f7;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #a441f7, 0 0 15px #a441f7, 0 0 25px #a441f7, 0 0 100px #a441f7;
}

#twitch:hover,
#twitch:focus {
  color: white;
}

#twitch::before {
  background-color: #a441f7;
}

#insta {
  border: 3px solid #fd0088;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #fe007a, 0 0 15px #ff1132, 0 0 25px #ffc200, 0 0 100px #a702f2;
}

#insta:hover,
#insta:focus {
  color: white;
}

#insta::before {
  background-color: #fd0088;
}

#guns {
  border: 3px solid #70457b;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #70457b, 0 0 15px #70457b, 0 0 25px #70457b, 0 0 100px #70457b;
}

#guns:hover,
#guns:focus {
  color: white;
}

#guns::before {
  background-color: #70457b;
}

#steam {
  border: 3px solid #1b5585;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #1b5585, 0 0 15px #1b5585, 0 0 25px #1b5585, 0 0 100px #1b5585;
}

#steam:hover,
#steam:focus {
  color: white;
}

#steam::before {
  background-color: #1b5585;
}

#roblox {
  border: 3px solid #a6b3bf;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #a6b3bf, 0 0 15px #a6b3bf, 0 0 25px #a6b3bf, 0 0 100px #a6b3bf;
}

#roblox:hover,
#roblox:focus {
  color: white;
}

#roblox::before {
  background-color: #a6b3bf;
}

#snap {
  border: 3px solid #ccc900;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #ccc900, 0 0 15px #ccc900, 0 0 25px #ccc900, 0 0 100px #ccc900;
}

#snap:hover,
#snap:focus {
  color: white;
}

#snap::before {
  background-color: #ccc900;
}

#namemc {
  border: 3px solid #000000;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 25px #000000, 0 0 100px #000000;
}

#namemc:hover,
#namemc:focus {
  color: white;
}

#namemc::before {
  background-color: #000000;
}

#mail {
  border: 3px solid #38c0a9;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #38c0a9, 0 0 15px #38c0a9, 0 0 25px #38c0a9, 0 0 100px #38c0a9;
}

#mail:hover,
#mail:focus {
  color: white;
}

#mail::before {
  background-color: #38c0a9;
}

.scanner span {
  color: transparent;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.scanner span::before {
  content: "MrParpotte";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #17feff;
  overflow: hidden;
  color: #17feff;
  animation: load91371 2s linear infinite;
}

@keyframes load91371 {

  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: #17feff;
  }

  60%,
  80% {
    width: 100%;
  }
}

.un {
  display: inline-block;
}

.deux {
  display: inline-block;
}

.trois {
  display: inline-block;
}

.quatre {
  display: inline-block;
}

#welc {
  position: relative;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 80px;
}

.text {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}

.hover-text {
  position: absolute;
  inset: 0;
  width: 0%;
  color: #b663ee;
  overflow: hidden;
  border-right: 6px solid #b663ee;
  transition: 0.5 ease-in-out;
}

#welc:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 40px #b663ee);
}