body {
    background: linear-gradient(#F1C40F, #800000);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    height: 1000px;
   }
   
  .buton {
    background-color: lightgreen;
    padding: 5px 1px 5px 1px;
   }
   
   button {
    border-radius: 20px 20px 20px 20px;
    background-color: skyblue;
   }
   
   h5 {
    text-align: center;
   }
   
   img {
    border-radius: 20px;
    width: 100px;
   }
   
   .center {
    border: black solid 5px;
    text-align: center;
    text-decoration: overline;
    border-radius: 30px;
    background: linear-gradient(90deg, #00ffff, #ff00c3);
   }
   
   .center::selection {
     background-color: aqua;
   }